.Mui-active{
    color:#a06ab4 !important;
}
.Mui-completed{
    color:#a06ab4 !important;

}
/*-----------------------------------CHECKOUT-----------------------------------*/
.Containercheckout {
    width: 100%;
    height: auto;
    background-image: url("../assetsSrc/fondocheckout.webp");
    background-position: center;
    background-size: contain;
    padding: 5% 10%;
  
}
.MuiStepper-root{
    background-color: #ffffff ;
    padding: 5px;
    border-radius: 20px;
}
.botonNext{
    background-color: #a06ab4 !important;
    color: white !important;
}
.botonNextDisabled{
    background-color: #a06ab486 !important;
    color: white !important;
}


/*----------------------------------------------mobile------------------------------------*/
@media screen and (max-width: 737px){
    .MuiStepLabel-label{
        font-size: 2.4vw !important;
    }
}
