.ContainerMobile{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Brand{
    width: 100%;
    height: auto;
    padding: 2% 2%;
}
.MobileImg{
    width: 95%;
    height: auto;
}

.ItemsContainer{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 4% 2%;
}
.ButtonsContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.ButtonInstaNabvarMobile2{
    border: solid  #a06ab4 !important;
    background-color:  #a06ab4 !important;
    border-radius: 60px !important;
    height: 50px;
    width: 50px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.ButtonLoginNabvarMobile2{
    border: solid  #a06ab4 !important;
    background-color:  #a06ab4 !important;
    border-radius: 60px !important;
    height: 50px;
    width: 50px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.toggle-buttonContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
}
.toggle-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    width: 80%;
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 5px;
    padding: 0% 20%;
    z-index: 1;
}
.toggle-button-desable{
    display: none;
}
.bar{
    height: 3px;
    width: 100%;
    border: solid #a06ab4  1px;
    background-color: #a06ab4;
    z-index: 1;
}
.ContainerLinks2{
   display: none;
}
.ContainerLinks2-active{
    padding: 4% 4%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    width: 100%;
    height: 0px;
    background-color: #a06ab4;
    animation: show 0.5s linear forwards;
}
@keyframes show {
    0%{
        height: 0px;
    }
    100%{
        height: 350px;
    }
}
.NabvarLink2{
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-overflow: none;
    animation: show3  linear forwards;
    animation-delay: 0.3s;
}
.NabvarLink2:visited{
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-overflow: none;
    animation: show3  linear forwards;
    animation-delay: 0.3s;
}
.ContainerLinks2-desactive{
    padding: 4% 4%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    width: 100%;
    height: 350px;
    background-color: #a06ab4;
    animation: show4 0.5s linear forwards;
}
@keyframes show4 {
    0%{
        height: 350px;
    }
    99%{
        height: 0px;
    }
    100%{
        padding: 0% 4%;
        height: 0px;
    }
}
