/*---------------------------------------CONTAINERNABVAR---------------------------------------*/
.ContainerNabvar{
    border: solid black !important;
}
/*---------------------------------------INSTAGRAM--------------------------------------*/
.ButtonInsta{
    border: solid  #a06ab4 !important;
    background-color:  #a06ab4 !important;
    border-radius: 60px !important;
    height: 50px;
    width: 50px;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}
.InstaIcono{
    color: white !important;
    height: 30px;
    width: 30px;
}

/*---------------------------------------NAVLINK--------------------------------------*/
.Link{

    color: #a06ab4 !important;
}

