/*--------------------------------------CONTAINER PADRE--------------------------------------*/
.ContainerPadreNabvarDesktop{
    height: auto;
    width: 100%;
    padding: 1% 1%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    border: solid black;
}
/*--------------------------------------LOGO MANUELS--------------------------------------*/
.ContainerImgNabvarDesktop{
    height:auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid red;
}
.ContainerImgNabvarDesktopLink{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Img{
    height: auto;
    width: 45%;
}
/*--------------------------------------INSTAGRAM--------------------------------------*/
.ButtonInstaNabvarDesktop{
    background-color:  #a06ab4;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #a06ab4;
}
.InstaIconoNabvarDesktop{
    color: white;
    height: 20px;
    width: 20px;
}
/*--------------------------------------LOGIN--------------------------------------*/
.ButtonLoginNabvarDesktop{
    background-color:  #a06ab4;
    border: solid #a06ab4;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LoginIconoNabvarDesktop{
    color: white;
    height: 20px;
    width: 20px;
}
/*--------------------------------------ContainerLinksNabvarDesktop--------------------------------------*/
.ContainerLinksNabvarDesktop{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid blue;
}
.NabvarLink{
    color: #a06ab4; 
}
.NabvarLink:hover{
    color: #a06ab4;
}
/*----------------------------------------------RESPONSIVE DESING BY FRANCO----------------------------------------*/
@media screen and (max-width: 900px){
    .ContainerPadreNabvarDesktop{
        grid-template-columns: 1fr 2fr;
    }
    .Img{
        height: auto;
        width: 80%;
    }
}