.ContainerMobile{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
}
.Brand{
    width: 100%;
    height: auto;
    padding: 0px 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.MobileImg{
    width: 100%;
    height: auto;
}
.ItemsContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0px 15px;
}
.ButtonInstaNabvarMobile2{
    border: solid  #a06ab4;
    background-color:  #a06ab4;
    border-radius: 60px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.IconoInstaNabvarMobile2{
    height: 25px;
    width: 25px;
}
.toggle-buttonContainer{
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: 45px;
    width: 45px;
    z-index: 1;
}
.toggle-button-desable{
    display: none;
}
.bar{
    height: 3px;
    width: 100%;
    border: solid #a06ab4  1px;
    background-color: #a06ab4;
    z-index: 1;
}
.ContainerLinks2{
   display: none;
}
.ContainerLinks2-active{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    width: 100%;
    height: 0px;
    background-color: #a06ab4;
    animation: show 0.5s linear forwards;
    padding: 10px 5px;
}
@keyframes show {
    0%{
        height: 0px;
    }
    100%{
        height: 350px;
    }
}
.NabvarLink2{
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-overflow: none;
    animation: show3  linear forwards;
    animation-delay: 0.3s;
}
.NabvarLink2:visited{
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-overflow: none;
    animation: show3  linear forwards;
    animation-delay: 0.3s;
}
.ContainerLinks2-desactive{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    width: 100%;
    height: 350px;
    background-color: #a06ab4;
    animation: show4 0.5s linear forwards;
    padding: 10px 5px;
}
@keyframes show4 {
    0%{
        height: 350px;
    }
    99%{
        height: 0px;
    }
    100%{
        padding: 0px 5px;
        height: 0px;
    }
}
/*----------------------------------------------RESPONSIVE DESING BY FRANCO----------------------------------------*/
@media screen and (max-width: 450px){
    .ContainerMobile{
        display: grid;
        grid-template-columns: 2fr 1fr; 
        padding: 15px 0px;
    }
    .Brand{
        padding: 0px 30px;
    }
    .ButtonInstaNabvarMobile2{
        height: 30px;
        width: 30px;
    }
    .IconoInstaNabvarMobile2{
        height: 20px;
        width: 20px;
    }
    .ItemsContainer{
       gap: 5px;
       padding: 0px 5px;
    }
    .toggle-button{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        height: 20px;
        width: 25px;
        z-index: 1;
    }
}