/*--------------------------------------CONTAINER PADRE--------------------------------------*/
.ContainerPadreNabvarDesktop{

    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto;

    padding: 2% 0%;
}
/*--------------------------------------LOGO MANUELS--------------------------------------*/
.ContainerImgNabvarDesktop{

    height: auto;
    width: 100%;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: auto;
    grid-row-end: auto;

    display: flex;
    justify-content: center;
    align-items: center;


}

.Img{

    height: auto;
    width: 50%;

}
/*--------------------------------------INSTAGRAM--------------------------------------*/
.ButtonInstaNabvarDesktop{

    border: solid  #a06ab4 !important;
    background-color:  #a06ab4 !important;
    border-radius: 60px !important;
    height: 50px;
    width: 50px;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.InstaIconoNabvarDesktop{

    color: white !important;
    height: 40px !important;
    width: 40px !important;
}
/*--------------------------------------ContainerLinksNabvarDesktop--------------------------------------*/
.ContainerLinksNabvarDesktop{

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: auto;
    grid-row-end: auto;

    display: flex;
    justify-content: center;
    align-items: center;
   
    gap: 5%;

}
.NabvarLink{

    color: #a06ab4 !important;
    
}
.NabvarLink:hover{

    color: #a06ab4 !important;
    
}


/*----------------------------------------------RESPONSIVE DESING BY FRANCO----------------------------------------------*/
@media screen and (max-width: 1270px){

    .ContainerPadreNabvarDesktop{

        display: grid;
        grid-template-columns: 1fr 1.75fr;
        grid-template-rows: auto;
    
    }

    .Img{

        height: auto;
        width: 70%;
    
    }

    .ContainerLinksNabvarDesktop{

        gap: 2%;
    }
}
@media screen and (max-width: 1040px){

    .ContainerPadreNabvarDesktop{

        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
    
    }

    .NabvarLink{

        font-size: 18px !important;
    }

    .Img{

        height: auto;
        width: 80%;
    
    }

    .ButtonInstaNabvarDesktop{

        height: 45px !important;
        width: 45px !important;
    }
}

@media screen and (max-width: 850px){

    .NabvarLink{

        font-size: 16px !important;
    }
}

