/*----------------------------CONTAINER PADRE----------------------------*/
.ContainerPadreGift{
    width: 100%;
    height: auto;

    padding: 4% 6%;

}
/*----------------------------SUB-CONTAINER----------------------------*/
.SubContainerGift{

    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 2.5vw;

    padding: 5% 0%;

    box-shadow: 0 0 5px rgb(0,0,0) !important;
}
/*----------------------------IMG----------------------------*/
.ContainerImgGift{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ImgGift{
    width: 8vw;
    height: auto;
}
/*----------------------------TITULO----------------------------*/
.ContainerGiftTextos{
    text-align: center;
}
.GiftTexto1{
    font-family: "dukecharming-regular";
    font-weight: 800;
    color: #a06ab4;
    font-size: 4vw;
}
.GiftTexto2{
    color: #a06ab4;
    font-size: 1.8vw;
}
.ContainerButtonGift{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*----------------------------BUTTON----------------------------*/
.ButtonGift{
    background-color: #ffd743;
    border: solid 2px;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 0% 4%;
    height: auto;
    font-size: 2.5vw;
}
.ButtonGift:hover{
    background-color: white;
    color: #ffd743;
    border: solid #ffd743 2px;
}
/*----------------------------@MEDIA SCREEN (RESPONSIVE DESING by Franco)----------------------------*/
