.ContainerPadreReseña{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    font-family:"varela round";
    gap: 15px;
}
/*-----------------------------------------SUB CONTAINER 1 (RESEÑA) -----------------------------------------*/
.ContainerSubPadreReseña1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 5px rgb(0,0,0) !important;
    background-color: #ffd743;
    padding: 40px 25px;
}
.ReseñaTitulo{
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    color: white;
    width: 100%;
}
.ReseñaTexto{
    text-align: left;
    font-size: 25px;
    color: white;
    font-weight: 500;
    width: 100%;
    max-width: 600px;
}
/*-----------------------------------------SUB CONTAINER 2 (FORMULARIO)-----------------------------------------*/
.ContainerSubPadreReseña2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    height: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 0px 25px;
}
.ContainerReseñaForm{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ReseñaForm{width:100%;height:auto;max-width: 850px;}
.Label{font-size:30px;color: #a06ab4;}
.InputReseña1{
    height: 40px;
    width: 100%;
    border: solid #a06ab4 1px;
    outline: solid #a06ab4 1px;
    color: #a06ab4;
}.InputReseña2{
    width: 100%;
    height: 150px;
    border: solid #a06ab4 1px;
    outline: solid #a06ab4 1px;
    color: #a06ab4;
}
.ButtonReseñas{
    background-color: #ffd743;
    color: white;
    border: solid transparent 1px;
    border-radius: 5px;
    padding: 5px 0px;
    font-size: 20px;
    width: 100%;
    max-width: 850px;
}
.ButtonReseñas:hover{
    background-color: white;
    color: #ffd743;
    border: solid #ffd743 1px;
    border-radius: 5px;
}
/*----------------------------@MEDIA SCREEN (RESPONSIVE DESING by Franco)----------------------------*/
@media screen and (max-width: 500px){
    .ReseñaTitulo{font-size: 40px;}
    .ReseñaTexto{font-size: 20px;}
    .Label{font-size:25px;}
    .InputReseña1{font-size: 25px;}
    .InputReseña2{font-size: 25px;}
}