.ConatinerPadreTalleres{
    width: 100%;
    height: auto;

    padding: 2% 6%;
}
.ContainerSubTalleres{
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    box-shadow: 0 0 25px rgb(0,0,0) !important;
}
.ContainerMapTalleres{
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    padding: 2% 6%;
}
.ContainerTituloTalleres{
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.TituloTalleres{
    font-family: "dukecharming regular";
    font-weight: 800;
}
/*-----------------------------------------CONTAINER HIJO1-----------------------------------------*/
.ContainerTalleresHijo1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;

    padding: 4% 4%;
}
.ContainerItem1talleres{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: 0.08fr 1fr;
    grid-template-rows: auto;

    gap: 6px;
}
.ContainerItem2talleres{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    display: grid;
    grid-template-columns: 0.08fr 1fr;
    grid-template-rows: auto;

    gap: 6px;
}
.ImgTalleres{
    width: 100%;
    height: auto;
}
/*-----------------------------------------CONTAINER HIJO2-----------------------------------------*/
.ContainerTalleresHijo2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;

    padding: 4% 8%;
}
.ContainerItem3talleres{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid-template-columns: 0.08fr 1fr;
    grid-template-rows: auto;

    gap: 6px;
}
.ContainerItem4talleres{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: 0.08fr 1fr;
    grid-template-rows: auto;

    gap: 6px;
}
.ButtonTalleres{
    border: solid transparent;
    border-radius: 10px;
    padding: 1% 6%;
    font-size: 20px;
}
/*
.ButtonTalleres:hover{
    background-color: white !important;
    color: #ffd743 !important;
    border: solid #ffd743 !important;
    border-radius: 10px !important;
    padding: 1% 6% !important;
}
*/