.ConatinerPadreTalleres{
    width: 100%;
    height: auto;
    padding: 2% 6%;
    font-family:"varela round";
}
.ContainerSubTalleres{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    box-shadow: 0 0 25px rgb(0,0,0) !important;
}
.ContainerMapTalleres{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 2% 6%;
}
.ContainerTituloTalleres{
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.TituloTalleres{font-family: "dukecharming regular" !important;}
.TallerTexto{font-size: 20px;}
/*-----------------------------------------CONTAINER HIJO1-----------------------------------------*/
.ContainerTalleresHijo1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    padding: 4% 8%;
}
.ContainerItem1talleres{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 0.08fr 1fr;
    grid-template-rows: auto;
    gap: 6px;
}
.ContainerItem2talleres{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 0.08fr 1fr;
    grid-template-rows: auto;
    gap: 6px;
}
.ImgTalleres{
    width: 100%;
    height: auto;
}
/*-----------------------------------------CONTAINER HIJO2-----------------------------------------*/
.ContainerTalleresHijo2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    padding: 4% 8%;
}
.ContainerItem3talleres{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 0.08fr 1fr;
    grid-template-rows: auto;
    gap: 6px;
}
.ContainerItem4talleres{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 0.08fr 1fr;
    grid-template-rows: auto;
    gap: 6px;
}
.ButtonTalleres{
    border: solid transparent;
    border-radius: 10px;
    padding: 2% 10%;
    font-size: 20px;
}
/*----------------------------@MEDIA SCREEN (RESPONSIVE DESING by Franco)----------------------------*/
@media screen and (max-width: 1000px){
    .ContainerMapTalleres{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        gap: 10px;
        padding: 4% 6%;
    }
    .ContainerTituloTalleres{text-align: center;}
    .ContainerTalleresHijo1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 0%;
        gap: 20px;
    }
    .ContainerTalleresHijo2{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        padding: 0%;
        gap: 20px;
    }
}
@media screen and (max-width: 700px) {
    .ConatinerPadreTalleres{padding: 8% 6%;} 
    .TallerTexto{font-size: 18px;}  
}
@media screen and (max-width: 600px) {
    .TallerTexto{font-size: 15px;} 
    .ContainerTalleresHijo1{gap: 8px;}
    .ContainerTalleresHijo2{gap: 8px;}
    .ContainerTituloTalleres{text-align: left;}
}
@media screen and (max-width: 450px) {
    .TallerTexto{font-size: 14px;} 
    .ContainerTalleresHijo1{gap: 8px;}
    .ContainerTalleresHijo2{gap: 8px;}
    .ContainerTituloTalleres{text-align: left;}
    .ButtonTalleres{padding: 1% 6%;font-size: 15px;}
    .TituloTalleres{font-size: 30px;}
    .SubTituloTalleres{font-size: 12px;}
}
@media screen and (max-width: 400px) {
    .TallerTexto{font-size: 12px;} 
    .ContainerTalleresHijo1{gap: 4px;}
    .ContainerTalleresHijo2{gap: 4px;}
    .ContainerTituloTalleres{text-align: left;}
    .ButtonTalleres{padding: 1% 6%;font-size: 14px;}
    .TituloTalleres{font-size: 30px;}
    .SubTituloTalleres{font-size: 12px}
}

