.LoadingC{
    height: auto;
    width: 100%;
    background-color: #d4a9e4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}
.LoadingCard{
    width: 100%;
    max-width: 400px;
    height: 400px;
    border-radius: 25px;
    background-color: white;
    display: grid;
    grid-template-rows: 50px auto 50px;
    gap: 10px;
    box-shadow: 0 0 20px rgb(0,0,0);
}
.SkeletonContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
}
.SkeletonContainer::after{
    content: "";
    height: 50px;
    width: 50px;
    border: solid rgba(0, 0, 0, 0.2) 2px;
    border-left: solid #a06ab4 2px ;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
    position: absolute;
}
.SkeletonTitle{
    color: white;
    text-align: center;
    background-color: #ffd743;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right:5px;
    padding-left: 5px;
}


@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.ButtonLoadingC{
    background-color: #a06ab4;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ButtonLoadingC:hover{color:#ffd743;cursor: pointer;}
/*----------------------------@MEDIA SCREEN (RESPONSIVE DESING by Franco)----------------------------*/
@media screen and (max-width: 800px){.LoadingC{flex-direction: column;gap:20px;padding-top: 20px;}}
@media screen and (max-width: 500px){.LoadingCard{height:300px; max-width:250px;}}