.BlogError{
    height: auto;
    min-height: 350px;
    width: 100%;
    background-color: #d4a9e4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    overflow: hidden;
}
.BlogErrorTittle{
    font-size: 1.5rem;
    z-index: 999;
    background-color:#d4a9e4;
    width: fit-content;
    height: auto;
    text-align: center;
}
#gear:nth-child(2){
    position: absolute;
    right: -8%;
    bottom: -25%;
    height: 12rem;
    width: 12rem;
    animation: girando 3s linear infinite;
}
#gear:nth-child(3){
    position: absolute;
    left: -90px;
    top: -90px;
    height: 12rem;
    width: 12rem;
    animation: girando 3s linear infinite;
}
#gear:nth-child(4){
    position: absolute;
    right: 90px;
    top: -90px;
    height: 12rem;
    width: 12rem;
    animation: girando 3s linear infinite;
}
#gear:nth-child(5){
    position: absolute;
    bottom: -100px;
    right: 50%;
    height: 12rem;
    width: 12rem;
    animation: girando 3s linear infinite;
}

@keyframes girando {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@media screen and (max-width:500px) {
    .bi .bi-gear:nth-child(2){height:50px;width:50px;top:40px;right:60px;}
    .bi .bi-gear:nth-child(3){height:60px;width:60px;top:20px;left:40px;}
    .bi .bi-gear:nth-child(4){height:50px;width:50px;left:30%;top:70%;}
    .bi .bi-gear:nth-child(5){height:2.5rem;width:2.5rem;bottom:10px;right:30%;}
}