.ModalContainerBlog{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.ModalContainerImg{
    background-color: transparent;
    width:  100%;
    max-width: 550px;
    min-width: 450px;
    height: auto;
    max-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ImgBlgoModal{
    width: 100%;
    height: auto;
    max-height: calc(100vh - 50px);
}
.CloseButtonBlog{
    color: white;
    position: absolute;
    font-size: 20px;
    top: 2.5px;
    right: 2.5px;
    background-color: #a06ab4;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
}
.CloseButtonBlog:hover{
    cursor: pointer;
}
/*----------------------------------------------RESPONSIVE DESING BY FRANCO----------------------------------------*/
@media screen and (max-width: 600px){
    .ModalContainerImg{max-width: 350px;min-width: 200px;}
}
@media screen and (max-width: 350px){
    .ModalContainerImg{max-width: 250px;min-width: 200px;}
}