RewriteEngine On  
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]
RewriteRule ^ /index.html [L]


RewriteEngine On 
RewriteBase /

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ http://www.manuels.com.ar/$1 [R=301,L]

