/*----------------------------------------------EXPERIENCIA----------------------------------------------*/
.ContenedorExperienciaPadre{


    height:600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ContenedorExperienciaSubPadre{

    
    height: 450px;
    width: 100%;

    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    grid-template-rows: 1fr 1fr;

    margin: 10%;
   

    background-color: #a06ab4;
}
.ContenedorExperienciaSubPadre>div{

    height:auto;
    width: 100%;

    color: white;
}

.ContenedorExperienciaTexto1{

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.ExperienciaTexto1{
    font-family: "dukecharming regular";
    font-size: 75px;
    font-weight: 800;
}


.ContenedorExperienciaTexto2{

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}
.ExperienciaTexto2{
    font-family: "dukecharming regular";
    font-size: 75px;
    font-weight: 800;
}

.ContenedorExperienciaTexto3{

    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
.ExperienciaTexto3{
    font-size: 20px;
}

.ContenedorExperienciaTexto4{

    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 3;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}
.ExperienciaTexto4{
    font-size: 20px;
}


/*----------------------------@MEDIA SCREEN (RESPONSIVE DESING by Franco)----------------------------*/


@media screen and (max-width: 1000px){

    .ContenedorExperienciaSubPadre{
    
        display: grid;
        grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
        grid-template-rows: auto auto auto;
        grid-gap:10px;
    
    }

    .ContenedorExperienciaTexto1{

        grid-column-start: 2;
        grid-column-end: 3;
    
        grid-row-start: 1;
        grid-row-end: 2;
    
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    
    }

    .ContenedorExperienciaTexto2{

        grid-column-start: 3;
        grid-column-end: 4;
    
        grid-row-start: 1;
        grid-row-end: 2;
    
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    
    }

    .ContenedorExperienciaTexto3{

        grid-column-start: 2;
        grid-column-end: 4;
    
        grid-row-start: 2;
        grid-row-end: 3;
    
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    
    }
    .ContenedorExperienciaTexto4{

        grid-column-start: 2;
        grid-column-end: 4;
    
        grid-row-start: 3;
        grid-row-end: 4;
    
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    
    }

    .ExperienciaTexto1{

        font-size: 60px;
    }

    .ExperienciaTexto2{

        font-size: 60px;
    }

  
   
}

@media screen and (max-width: 700px){

    .ContenedorExperienciaPadre{



        height: 400px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }


    .ContenedorExperienciaSubPadre{

    
        height: 300px;
        width: 100%;
    
        margin: 5%;
       
    }

    .ExperienciaTexto1{

        font-size: 50px;
    }

    .ExperienciaTexto2{

        font-size: 50px;
    }

    .ExperienciaTexto3{

        font-size: 15px;
    }

    .ExperienciaTexto4{

        font-size: 15px;
    }

  
   
}

@media screen and (max-width: 600px){

    .ContenedorExperienciaPadre{



        height: 350px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }


    .ContenedorExperienciaSubPadre{

    
        height: 300px;
        width: 100%;
    
        margin: 5%;
       
    }


    .ExperienciaTexto1{

        font-size: 40px;
    }

    .ExperienciaTexto2{

        font-size: 40px;
    }

    .ExperienciaTexto3{

        font-size: 14px;
    }

    .ExperienciaTexto4{

        font-size: 14px;
    }

  
   
}

@media screen and (max-width: 500px){

    .ContenedorExperienciaPadre{



        height: 350px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .ContenedorExperienciaSubPadre{

    
        height: 250px;
        width: 100%;
    
        margin: 5%;
       
    }


    .ExperienciaTexto1{

        font-size: 40px;
    }

    .ExperienciaTexto2{

        font-size: 40px;
    }

    .ExperienciaTexto3{

        font-size: 12px;
    }

    .ExperienciaTexto4{

        font-size: 12px;
    }

  
   
}

@media screen and (max-width: 450px){

    .ContenedorExperienciaPadre{



        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

  
    .ContenedorExperienciaSubPadre{

    
        height: 250px;
        width: 100%;
    
        margin: 5%;
       
    }


    .ExperienciaTexto1{

        font-size: 35px;
    }

    .ExperienciaTexto2{

        font-size: 35px;
    }

    .ExperienciaTexto3{

        font-size: 12px;
    }

    .ExperienciaTexto4{

        font-size: 12px;
    }

  
   
}

@media screen and (max-width: 400px){

    .ContenedorExperienciaPadre{



        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    
    .ContenedorExperienciaSubPadre{

    
        height: 200px;
        width: 100%;
    
        margin: 5%;
       
    }


    .ExperienciaTexto1{

        font-size: 30px;
    }

    .ExperienciaTexto2{

        font-size: 30px;
    }

    .ExperienciaTexto3{

        font-size: 10px;
    }

    .ExperienciaTexto4{

        font-size: 10px;
    }

  
   
}


@media screen and (max-width: 350px){

    .ContenedorExperienciaSubPadre{

    
        height: 200px;
        width: 100%;
    
        margin: 5%;
       
    }


    .ExperienciaTexto1{

        font-size: 25px;
    }

    .ExperienciaTexto2{

        font-size: 25px;
    }

    .ExperienciaTexto3{

        font-size: 9px;
    }

    .ExperienciaTexto4{

        font-size: 9px;
    }
}





