.ContainerMarcasFondo{

    width: 100%;
    height: auto;
    background-color: #ffd743;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;

    padding: 5%;
}

.ContainerMarcasTitulo{

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.MarcasTitulo{
    color: white;
    font-family: "dukecharming regular";
    font-weight: 900;
}

.ContainerMarcasCarrusel{

    

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 3;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.Carrusel{
    width: auto !important;
    height: auto !important;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.ContainerCarruselSection{

    
    width: 100% !important;
    height: auto !important;
    
   

}

.CarruselSection{

    width: 100% !important;
    height: 100% !important;

    display: grid !important;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr !important ;
    grid-template-rows: auto !important;
    grid-gap:10px;
    
   
}


.ContainerImg1{
    
    height: auto;

    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}
.ContainerImg2{

    height: auto;
    width: 100%;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}
.ContainerImg3{

    height: auto;

    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}
.ContainerImg4{

    height: auto;

    grid-column-start: 5;
    grid-column-end: 6;

    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}


/*----------------------------@MEDIA SCREEN (RESPONSIVE DESING by Franco)----------------------------*/


@media screen and (max-width: 1000px){

    .CarruselSection{

        display: grid !important;
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr  !important ;
        grid-template-rows: auto !important;
        grid-gap: 10px;
        
    }
}

@media screen and (max-width: 800px){ 

    .Carrusel{
        width: 100% !important;
        height: auto !important;
    
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    
   
    }

    .CarruselSection{

        width: 100% !important;
        height: 100% !important;
    
        display: grid !important;
        grid-template-columns: 0fr 1fr 1fr 1fr 1fr 0fr  !important ;
        grid-template-rows: auto !important;
        grid-gap: 10px;
        
    }

    .MarcasTitulo{
        color: white;
        font-family: "dukecharming regular";
        font-weight: 900;
        font-size: 30px;
    }
}

@media screen and (max-width: 800px){ 

    .MarcasTitulo{
        color: white;
        font-family: "dukecharming regular";
        font-weight: 900;
        font-size:25px;
    }
}

@media screen and (max-width: 500px){ 

    .MarcasTitulo{
        color: white;
        font-family: "dukecharming regular";
        font-weight: 900;
        font-size:20px;
    }
}

@media screen and (max-width: 400px){ 

    .MarcasTitulo{
        color: white;
        font-family: "dukecharming regular";
        font-weight: 900;
        font-size:16px;
    }
}