.ContainerGodServiciosMobile{
    width: 100%;
    height: fit-content;

    background-image: url("../assetsSrc/fondoservicios.png");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}
.ContainerPadreMobileServicios{
    height: auto;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    
    gap: 2%;

    padding: 10% 0%;

}



/*------------------------------------------------TITULO SERVICIOS---------------------------------------*/
.ContainerTituloServiciosMobile{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;

    height: auto;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.TituloServiciosMobile{
    font-family: "dukecharming regular";
    font-weight: 900;
    font-size: 35px;
    color: white;
}

/*------------------------------------------------CARRUSEL---------------------------------------*/
.CaruselServiciosMobile{

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 3;

    height: auto;
    width: 100%;

    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;

}
.CaruselServiciosMobile{
    height: auto !important;
    width: 100% !important;
}
.ContainerCardServiciosMobile{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr ;

    height: 450px;
    width: 70%;

    box-shadow: 0 0 25px rgb(0,0,0) !important;
    border-radius: 40px;
    background-color: white;

    padding: 8% 0%;

    text-align: center;
}

.ContainerImgServiciosMobile{
    height: auto;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.ImgServiciosMobile{
    height: auto;
    width: 40%;
}


/*------------------------------------------------TEXTO1---------------------------------------*/
.ContainerTextoServiciosMobile1{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr ;
}
.ContainerTextoServiciosMobile1>p{
    font-weight: 700;
    color: #a06ab4;
}
/*------------------------------------------------TEXTO2---------------------------------------*/
.ContainerTextoServiciosMobile2{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr ;
}
.ContainerTextoServiciosMobile2>p{
    font-weight: 700;
    color: #a06ab4;
}
/*------------------------------------------------TEXTO3---------------------------------------*/
.ContainerTextoServiciosMobile3{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr ;
}
.ContainerTextoServiciosMobile3>p{
    font-weight: 700;
    color: #a06ab4;
}

/*----------------------------@MEDIA SCREEN (RESPONSIVE DESING by Franco)----------------------------*/

@media screen and (max-width: 700px){
.ContainerCardServiciosMobile{
    width: 80%;
}
}
@media screen and (max-width: 600px){
    .ContainerCardServiciosMobile{
        height: 400px;    
    }
    .ContainerTextoServiciosMobile1>p{
        font-size: 14px;
        font-weight: 700;
    }
    .ContainerTextoServiciosMobile2>p{
        font-size: 14px;
        font-weight: 700;
    }
    .ContainerTextoServiciosMobile3>p{
        font-size: 14px;
        font-weight: 700;
    }
    .ContainerPadreMobileServicios{
        padding: 8% 0%;
    }
}
@media screen and (max-width: 500px){
    .ContainerCardServiciosMobile{
    
        width: 100%;
    }
    .TituloServiciosMobile{
        font-size: 30px;
    }
}
@media screen and (max-width: 450px){
    .ContainerCardServiciosMobile{
        height: 350px;    
    }
    .ContainerPadreMobileServicios{
        padding: 10% 0%;
    }
}
@media screen and (max-width: 350px){
    .ContainerTextoServiciosMobile1>p{
        font-size: 12px;
    }
    .ContainerTextoServiciosMobile2>p{
        font-size: 12px;
    }
    .ContainerTextoServiciosMobile3>p{
        font-size: 12px;
    } 
}