.ContainerReseñasFondo{

    width: 100%;
    height: auto;
    background-color: #c2c2c1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;

    padding: 5%;
    gap: 2vw;
}

.ContainerMarcasTitulo{

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.MarcasTitulo{
    color: white;
    font-family: "dukecharming regular";
    font-weight: 900;
    font-size: 4vw;
}


.Carrusel{
    width: auto !important;
    height: auto !important;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.ContainerCarruselSection{
    width: 100% !important;
    height: auto !important;
}
.CarruselReseñas{
    background-color: white ;
}
/*----------------------------@MEDIA SCREEN (RESPONSIVE DESING by Franco)----------------------------*/


@media screen and (max-width: 800px){ 

    .Carrusel{
        width: 100% !important;
        height: auto !important;
    
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    
   
    }
}