/*----------------------------------------------CONTAINER FONDO----------------------------------------------*/
.ContainerFondoVideo{
    display: block;
    height: auto;
    width: 100%;

    padding: 10% 0%;
    
    background-image: url("../assetsSrc/fondovideos1.png");
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ContainerVideos{

    width: 85%;
    height: auto;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 2%;

}


.ContainerVideo1{
    width: 100%;
    height: auto;

    grid-column-start: 1;   
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 1;
}
.ContainerVideo2{
    width: 100%;
    height: auto;

    grid-column-start: 2;   
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 1;
}

.ContainerVideo3{
    width: 100%;
    height: 100%;

    grid-column-start: 3;   
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 1;
}

.Video1{
    height: auto;
    width: 100%;
}
.Video2{
    height: auto;
    width: 100%;
}
.Video3{
    height: auto;
    width: 100%;
}
/*----------------------------------------------COMING SOON----------------------------------------------*/
.ComingSoon{
    background-color: white;
    text-align: center;
    font-family: "dukecharming regular";
    font-weight: 700;
    width: 100%;
    height: auto;
    padding: 4% 0%;
    color: #a06ab4;
    border-radius: 20px; 

    animation-name:jump ;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes jump{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(20px);
    }
}
/*----------------------------@MEDIA SCREEN (RESPONSIVE DESING by Franco)----------------------------*/

@media screen and (max-width: 1000px){

    .ContainerFondoVideo{
        width: 100%;
        height: auto;

        background-image: url("../assetsSrc/fondovideos2.png");
        background-position: center;
        background-size: contain;
        background-repeat: repeat;
       
    }

    .ContainerVideos{

        width: 50%;
        height: auto;

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 0%;

    }

    .ContainerVideo1{
        width: 100%;
        height: auto;
    
        grid-column-start: 1;   
        grid-column-end: 2;
    
        grid-row-start: 1;
        grid-row-end: 2;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 2% 0%;
    }
    .ContainerVideo2{

        width: 100%;
        height: auto;
    
        grid-column-start: 1;   
        grid-column-end: 2;
    
        grid-row-start: 2;
        grid-row-end: 3;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 2% 0%;
    }
    
    .ContainerVideo3{
        width: 100%;
        height: auto;
    
        grid-column-start: 1;   
        grid-column-end: 2;
    
        grid-row-start: 3;
        grid-row-end: 4;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 2% 0%;
    }
    
}
@media screen and (max-width: 600px){

    .ContainerVideos{
        height: auto;
        width: 65%;
    }
}
@media screen and (max-width: 500px){

    .ContainerVideos{
        height: auto;
        width: 80%;
    }
}
@media screen and (max-width: 400px){

    .ContainerVideos{
        height: auto;
        width: 85%;
    }
}

