/*----------------------------------------------CONTAINER FONDO----------------------------------------------*/
.ContainerFondoVideo{
    display: block;
    height: 450px;
    width: 100%;

    background-image: url("../assetsSrc/fondovideos1.png");
    background-position: center;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ContainerVideos{

    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5%;

    margin: 0% 5%;
}



.ContainerVideo1{
    width: 100%;
    height: 100%;

    grid-column-start: 1;   
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 1;
}
.ContainerVideo2{
    width: 100%;
    height: 100%;

    grid-column-start: 2;   
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 1;
}

.ContainerVideo3{
    width: 100%;
    height: 100%;

    grid-column-start: 3;   
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 1;
}

.Video1{
    height: 100%;
    width: 100%;
}
.Video2{
    height: 100%;
    width: 100%;
}
.Video3{
    height: 100%;
    width: 100%;
}

/*----------------------------@MEDIA SCREEN (RESPONSIVE DESING by Franco)----------------------------*/

@media screen and (max-width: 1000px){

    .ContainerFondoVideo{
        width: 100%;
        height: auto;

        background-image: url("../assetsSrc/fondovideos2.png");
        background-position: center;
        background-size: contain;

        padding: 10% 10%;
    }

    .ContainerVideos{

        width: 500px;
        height: 900px;
    
     
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-gap: 10%;

    }

    .ContainerVideo1{
        width: 100%;
        height: 100%;
    
        grid-column-start: 1;   
        grid-column-end: 2;
    
        grid-row-start: 1;
        grid-row-end: 2;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ContainerVideo2{

        width: 100%;
        height: 100%;
    
        grid-column-start: 1;   
        grid-column-end: 2;
    
        grid-row-start: 2;
        grid-row-end: 3;

        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    .ContainerVideo3{
        width: 100%;
        height: 100%;
    
        grid-column-start: 1;   
        grid-column-end: 2;
    
        grid-row-start: 3;
        grid-row-end: 4;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media screen and (max-width: 600px){

    .ContainerVideos{

        width: 400px;
        height: 800px;
    
    }

}

@media screen and (max-width: 500px){

    .ContainerVideos{

        width: 350px;
        height: 650px;
    
    }

}

@media screen and (max-width: 400px){

    .ContainerVideos{

        width: 300px;
        height: 600px;
    
    }
}
@media screen and (max-width: 400px){

    .ContainerVideos{

        width: 300px;
        height: 550px;
    
    }
}