/*----------------------------------------------CONTAINER FONDO----------------------------------------------*/
.ContainerFondoVideo{
    display: block;
    height: 450px;
    width: 100%;
    border: solid black;

    background-image: url("../assetsSrc/fondovideos1.png");
    background-position: center;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ContainerVideos{

    width: 100%;
    height: auto;

    border: solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5%;

    margin: 0% 10%;
}

.ContainerVideos>iframe{
    border: solid red;
}

.Video1{
    width: 100%;
    height: 100%;

    grid-column-start: 1;   
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 1;
}
.Video2{
    width: 100%;
    height: 100%;

    grid-column-start: 2;   
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 1;
}

.Video3{
    width: 100%;
    height: 100%;

    grid-column-start: 3;   
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 1;
}


/*----------------------------@MEDIA SCREEN (RESPONSIVE DESING by Franco)----------------------------*/

@media screen and (max-width: 1000px){

    .ContainerFondoVideo{

        height: auto;

        background-image: url("../assetsSrc/fondovideos2.png");
        background-position: center;
        background-size: contain;
    }

    .ContainerVideos{

        width: 50%;
        height: 70%;
    
        border: solid red;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 5%;
    
        margin: 10% 10%;
    }

    .Video1{
        width: 100%;
        height: 100%;
    
        grid-column-start: 1;   
        grid-column-end: 2;
    
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .Video2{
        width: 100%;
        height: 100%;
    
        grid-column-start: 1;   
        grid-column-end: 2;
    
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .Video3{
        width: 100%;
        height: 100%;
    
        grid-column-start: 1;   
        grid-column-end: 2;
    
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
}