.ContainerPadreLogin{
    
    width: 100%;
    height: auto;

    background-image: url("../assetsSrc/fondovideos1.png");
    background-position: center;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10% 5%;
}
.ContainerForm{
  
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}
.FormLogin{
    width: 100%;
    height: auto;

    grid-column-start: 2;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    gap: 10px;
}

.LoginInput1{
    width: 100%;
    height: auto;
    
    text-align: center;
    color: #a06ab4;
    
    border: solid #a06ab4 0px;
    outline-color: #a06ab4;
    
    font-size: 2.5vw ;

}
.LoginInput2{
    width: 100%;
    height: auto;
    
    text-align: center;
    color: #a06ab4;
    
    border: solid #a06ab4 2px;
    outline-color: #a06ab4;

    font-size: 2.5vw ;
}
.Warning{
    color: red;
    text-align: center;
    font-size: 2vw;
}
.ContainerLoginButton{
    height: auto;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.LoginButton{
    height: auto;
    width: 90%;

    border: solid transparent;
    border-radius: 10px;
    background-color: #a06ab4 ;
    color: white;

    font-size: 2vw ;
}
.LoginButton:hover{

    border: solid #a06ab4;
    border-radius: 10px;
    background-color: white ;
    color: #a06ab4;
}
/*----------------------------------------------RESPONSIVE DESING BY FRANCO----------------------------------------*/
@media screen and (max-width: 500px){
    .LoginButton{
        font-size: 3.5vw ;
    }
    .LoginInput1{ 
        font-size: 4.5vw ;
    }
    .LoginInput2{
        font-size: 4.5vw ;
    }
}

