.Checkouttitle {
    height: auto;
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center;
    justify-content: center;
    padding: 1% 1%;
    background-color: #a06ab4;
    color: white;
    border-radius: 10px;
    font-size: 3vw;
}

.CheckoutSubtitleB {
    height: auto;
    width: fit-content;
    padding: 2% 2%;
    background-color: #a06ab4;
    color: white;
    text-align: left;
    border-radius: 10px;
    font-size: 1.6vw;
}
.CheckoutB {
    width: 100%;
    height: auto;
    text-align: left;
    color: #a06ab4;
    padding: 0% 1%;
    border: solid #a06ab4 0px;
    border-radius: 5px;
    background-color: white;
    font-size: 1.5vw;
}
.CheckoutinputStep2 {
    width: 35%;
    height: auto;
    text-align: left;
    color: #a06ab4;
    border: solid #a06ab4 2px;
    outline-color: #a06ab4;
    background-color: white;
    font-size: 1.5vw;
}
.walletPiola{
    color: white !important;
    background-color: #a06ab4 !important;
    border-radius: 2px !important;
    border: none !important;
    padding: 2px;
    font-size: 1.1vw !important;
    margin-left: 1vw;
    margin-bottom: 0.5vw;
}
.height{
    height: 40vh;
}