.Checkouttitle {
    height: auto;
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center;
    justify-content: center;
    padding: 1% 1%;
    background-color: #a06ab4;
    color: white;
    border-radius: 10px;
    font-size: 3vw;
}

.CheckoutSubtitleB {
    height: auto;
    width: fit-content;
    padding: 2% 2%;
    background-color: #a06ab4;
    color: white;
    text-align: left;
    border-radius: 10px;
    font-size: 1.6vw;
}

.CheckoutButton {
    height: auto !important;
    width: 50%;
    margin-left: 25% !important;
    border: solid transparent !important;
    border-radius: 10px !important;
    background-color: #a06ab4 !important;
    color: white !important;
    font-size: 2vw ;
    margin-top: 11vh;
}
.height{
    height: 50vh;
}
.CheckoutinputComprobante{
    color: white;
    background: #a06ab4 ;
    font-size: 1.5vw ;
}
.CheckoutLabel2{
    color: white;
    background: #a06ab4cc ;
    border-radius: 10px;
    padding: 2px;
    margin-right: 5vw;
    font-size: 2vw ;
}
/*----------------------------------------------mobile------------------------------------*/
@media screen and (max-width: 767px){
    .modal-dialog{
        margin:auto !important;
        padding-top: 50% !important;
    }
    .CheckoutSubtitleB {
        font-size: 3vw !important;
    }
    .Checkouttitle {
        font-size: 4vw !important;
    }
    .height{
        height: 45vh !important;
    }
    .CheckoutinputComprobante{
        font-size: 3vw;
        color: white;
        background: #a06ab4 ;
    }
    .CheckoutLabel2{
        color: white;
        background: #a06ab4cc ;
        border-radius: 10px;
        font-size: 4vw;
        padding: 2px;
    }
    .CheckoutButton{
        font-size: 4vw;
    }
}
@media screen and (max-width: 350px){
    .CheckoutSubtitleB {
        font-size: 4vw !important;
    }
    .CheckoutinputComprobante{
        font-size: 3vw;
    }
    .Checkouttitle {
        font-size: 5vw !important;
    }
    .CheckoutinputComprobante{
        font-size: 3.5vw;
        color: white;
        background: #a06ab4 ;
    }
    .CheckoutLabel2{
        color: white;
        background: #a06ab4cc ;
        border-radius: 10px;
        padding: 2px;
        font-size: 5vw;
    }
    .CheckoutButton{
        font-size: 5vw !important;
    }
}
