.ModalguideContainer2{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5% 5%;
}
.CardContainer{
    width: 80%;
    max-height: 450px;
    background-color: white;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.HeaderModal{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ImgmodalGuide{
    width: 250px;
    height: auto;
}
.ButtonCloseModal{
    background-color:transparent ;
    border: solid transparent;
    position: absolute;
    right: 1px;
    top: 0px;
    font-weight: 600;
    height: 45px;
    width: 45px;
}
.CloseButton{
    color: #a06ab4;
}
.CloseButton:hover{
  cursor: pointer;
}
.BodyModal{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}
.ContainerPaso{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.GuideIconos{
    width: 30px;
    height: auto;
}
.GuideTexto{
    color: #a06ab4 ;
    font-size: 20px;
}
/*----------------------------------------------RESPONSIVE DESING BY FRANCO----------------------------------------*/
@media screen and (max-width: 800px){
    .CardContainer{
        width: 100%;
        gap: 2.5px;
    }
    .GuideIconos{
        width: 25px;
        height: auto;
    }
    .GuideTexto{
        color: #a06ab4 ;
        font-size: 15px;
    }
}
@media screen and (max-width: 500px){
    .ImgmodalGuide{
        width: 200px;
        height: auto;
    }
}
@media screen and (max-width: 400px){
    .ImgmodalGuide{
        width: 180px;
        height: auto;
    }
    .GuideIconos{
        width: 24px;
        height: auto;
    }
    .GuideTexto{
        color: #a06ab4 ;
        font-size: 14px;
    }
    .BodyModal{
        gap: 5px;
    }
    .HeaderModal{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}