.SideBar{
    width: 25%;
    float: left;
}
.Manage{
    width: 75%;
    float: right;
}
.BigDiv{
    height: 52vh;
}
.modal-dialog{
   max-width: 75% !important;
}
/*---------------------------------------MODAL CLASES CREAR------------------------------------------------------*/
div>textarea{
    width: 100%;  
}
.CCinputTitle{
    height: auto;
}
.CCinputDescription{
    height: 125px;
}
.CCinputForwho{
    height: 125px; 
}
.CCinputDuration{
    height: auto;
    height: 80px;
}
