.SideBar {
  width: 25%;
  float: left;
}
.Manage {
  width: 75%;
  float: right;
}
.BigDiv {
  height: 52vh;
}
.modal-dialog {
  max-width: 75% !important;
}
.imagenCheckout {
  width: 40px;
  height: auto;
  cursor: pointer;
  border: solid transparent 1px;
}
.voucher {
  width: 400px;
}
.true {
  color: green;
  font-weight: bold;
}
.false {
  color: red;
  font-weight: bold;
}
.medio{
  width: 50% !important;
}
.flotante{
  display: flex;
}
.mano {
  background: purple;
  border-radius: 20px;
  padding: 10px !important;
  color: white !important;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome  y Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
.mano-active{
    background: whitesmoke;
    color: purple;
}
/*---------------------------------------MODAL CLASES CREAR------------------------------------------------------*/
div > textarea {
  width: 100%;
}
.CCinputTitle {
  height: auto;
}
.CCinputDescription {
  height: 125px;
}
.CCinputForwho {
  height: 125px;
}
.CCinputDuration {
  height: auto;
  height: 80px;
}
