.SideBar{
    width: 25%;
    float: left;
}
.Manage{
    width: 75%;
    float: right;
}
.BigDiv{
    height: 52vh;
}
.modal-dialog{
   max-width: 75% !important;
}
.imagenCheckout{
    width: 40px;
}
.voucher{
    width: 400px;
}
.true{
    color: green;
    font-weight: bold;
}
.false{
    color: red;
    font-weight: bold;
}
/*---------------------------------------MODAL CLASES CREAR------------------------------------------------------*/
div>textarea{
    width: 100%;  
}
.CCinputTitle{
    height: auto;
}
.CCinputDescription{
    height: 125px;
}
.CCinputForwho{
    height: 125px; 
}
.CCinputDuration{
    height: auto;
    height: 80px;
}
.space{
    margin: 50px;
}
.mano{
    cursor: pointer;
    background-color: #a06ab4;
    border-radius: 10px;
    color: white !important;
    font-weight: bold;
    padding: 10px;
}
.mano:hover{
    cursor: pointer;
    background-color: #ffd209;
    border-radius: 10px;
    color: black !important;
    font-weight: bold;
    box-shadow: 10px 5px 25px #a06ab4;

}
.navegacion{
    box-shadow: 10px 5px 25px black;
    margin: 10px;

}