.ContainerGod{
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 0%;
  position: relative; /*PROPIEDAD IMPORTANTE PARA LA ANIMACION SIT_AND_ENJOY */
}
.FondoBlanco{
  position: absolute; /*PROPIEDAD IMPORTANTE PARA LA ANIMACION SIT_AND_ENJOY */
  background-color: white;
  z-index: 999;
  width: 100%;
  height: 100%;
  animation: sit_and_enjoy 2.5s  forwards;
}
@keyframes sit_and_enjoy {
  0%{
    opacity: 100%;
  }
  100%{
    opacity: 0%;
    z-index: -1; /*ES UN DETALLE IMPORTANTE PORQUE SINO EL TELON NO DEJA INTERACTUAR CON LA PAGINA*/
  }
}
.ContainerLoadingApp{
  display: flex;
  justify-content: center;
  height: 100vh; /* TOMA EN ALTURA EL 100% DE LA ALTURA DEL DISPOSITIVO*/
  width: 100%;
}

