@import url('https://fonts.google.com/specimen/Varela+Round?query=Varela+Round');

body {
  margin: 0;
  font-family: Varela Round !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

