.ContainerFondoFooter{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2% 0%;
}
.ContainerFooter{
    height: auto;
    width: 90%;
    max-width: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}
.TextoFooter{
    width: 100%;
    max-width: 450px;
    color: #a06ab4;
    font-size: 12px;
}
.ImgFooter{
    height: auto;
    width: 120px;
}
.ContainerInstagramFooter{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.ButtonInstaFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #a06ab4;
    border: solid  #a06ab4;
    border-radius: 50px;
    height: 30px;
    width: 30px;
}
.LeyandaInstaFooter{color: #a06ab4;font-family: "dukecharming regular";font-weight: 900;}
.PibitextoFooter{color: #a06ab4; font-size: 12px;}
.PibicreditosFooter{color: #a06ab4; font-size: 12px;}
@media screen and (max-width: 500px) {
    .ImgFooter{width: 60px;}
    .TextoFooter{max-width: 200px;font-size: 6px;}
    .ContainerFooter{ width: 95%;max-width: 400px;}
    .LeyandaInstaFooter{font-size: 6px;}
    .PibitextoFooter{font-size: 6px;}
    .PibicreditosFooter{font-size: 6px;}
    .ButtonInstaFooter{height: 28px;width: 28px;}
}