.ContainerFondoFooter{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 2% 12%;
}

.ContainerFooter{

    height: auto;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 2.5fr auto auto;
    grid-template-rows: auto auto;
    gap:2px;
}
/*------------------------------------------LOGO MANUELS------------------------------------------*/
.ContainerImgFooter{

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.ImgFooter{
    height: auto;
    width: 80%;
    display: block;
}
/*------------------------------------------TEXTO------------------------------------------*/
.ContainerTextosPadre{

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto ;
    gap: 0%;

    padding: 4% 10%;

}
.ContainerTextosHijoFooter{

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;
   
}
.ContainerTextosHijoFooter>p{
    color: #a06ab4;
    font-family: "varela round regular";
    font-size: 1.4vw;
    text-align: left;

    height: auto;
    width: auto;
}
/*------------------------------------------INSTAGRAM------------------------------------------*/
.ContainerInstagramFooter{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}
.ButtonInstaFooter{
    border: solid  #a06ab4 !important;
    background-color:  #a06ab4 !important;
    border-radius: 50px !important;
  
    width: auto !important;
    height: auto !important;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/*------------------------------------------LEYENDA ¡SEGUIME!------------------------------------------*/
.ContainerLeyandaInstaFooter{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

   display: flex;
   justify-content: center;
   align-items: center;
}
.LeyandaInstaFooter{
    color: #a06ab4;
    font-family: "dukecharming regular";
    font-weight: 900;
    font-size: 1.4vw;
}
/*------------------------------------------PIBI CREDITOS------------------------------------------*/
.ContainerPibicreditosFooter{

    height: auto;
    text-align: center;

    grid-column-start: 1;
    grid-column-end: 5;

    grid-row-start: 2;
    grid-row-end: 3;
}
.PibitextoFooter{
    color: #a06ab4;
    font-size: 1.2vw;
}
.PibicreditosFooter{
    color: #a06ab4;
}



/*----------------------------@MEDIA SCREEN (RESPONSIVE DESING by Franco)----------------------------*/
@media screen and (max-width: 1000px){
    .ButtonInstaFooter{
        padding: 10% 10% !important;
        height: 50px !important;
        width: 50px !important;
    }
}
@media screen and (max-width: 900px){
    .ButtonInstaFooter{
        border: solid  #a06ab4 !important;
        background-color:  #a06ab4 !important;
        border-radius: 60px !important;

        padding: 10% 10% !important;
        height: 40px !important;
        width: 40px !important;
    }
    .ContainerFondoFooter{

        padding: 2% 8%;
    }
    
}
@media screen and (max-width: 800px){
    .ButtonInstaFooter{
        border: solid  #a06ab4 !important;
        background-color:  #a06ab4 !important;
        border-radius: 60px !important;

        padding: 10% 10% !important;
        height: 35px !important;
        width: 35px !important;
    }
}
@media screen and (max-width: 700px){
    .ButtonInstaFooter{
        border: solid  #a06ab4 !important;
        background-color:  #a06ab4 !important;
        border-radius: 60px !important;

        padding: 10% 10% !important;
        height: 30px !important;
        width: 30px !important;
    }
}
@media screen and (max-width: 600px){
    .ButtonInstaFooter{
        border: solid  #a06ab4 !important;
        background-color:  #a06ab4 !important;
        border-radius: 60px !important;

        padding: 10% 10% !important;
        height: 35px !important;
        width: 35px !important;
    }
    .ContainerLeyandaInstaFooter{
        display: none;
    }
    .ContainerTextosPadre{
        padding: 4% 5%;
    }
    .ContainerTextosHijoFooter>p{
        font-size: 2vw;
    }
}
@media screen and (max-width: 500px){
    .ButtonInstaFooter{
        border: solid  #a06ab4 !important;
        background-color:  #a06ab4 !important;
        border-radius: 60px !important;

        height: 30px !important;
        width: 30px !important;
    }
}

